@use '../abstracts' as *;

.card {
	border-radius: 0.938rem;
	background: $color-orange-300;
	overflow: hidden;

	&__image {
		background: url('../images/icon-work.svg') no-repeat;
		background-position: 93% -0.7rem;
		padding-top: 2.375rem;
	}

	&__content {
		background: $color-navy-900;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		border-radius: 0.938rem 0.938rem 0 0;

		&-title {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h3 {
				@include apply-text-style(text-preset5-medium);
				color: white;
			}

			button {
				background: none;
				border: none;
				cursor: pointer;
			}
		}

		&-hours {
			display: flex;
			align-items: center;
			justify-content: space-between;

			strong {
				@include apply-text-style(text-preset3);
				color: white;
			}

			p {
				@include apply-text-style(text-preset6);
				color: $color-navy-200;
			}
		}
	}

	@include breakpointMobile(48rem) {
		max-width: 11.75rem;

		&__image {
			background-position: 93% -0.15rem;
			background-size: 3.593rem;
		}

		&__content {
			gap: 1rem;

			&-hours {
				flex-direction: column;
				align-items: start;
				gap: 0.5rem;

				strong {
					@include apply-text-style(text-preset1);
				}
			}
		}
	}

	@include breakpointMobile(80rem) {
		min-width: 15.938rem;
		max-height: 15.25rem;

		&__image {
			background-position: 90% -0.7rem;
			background-size: 4.875rem;
		}

		&__content {
			height: 100%;
			padding: 2rem;
			gap: 1.5rem;
		}
	}
}
