@use '../abstracts' as *;

.profileCard {
	display: flex;
	flex-direction: column;
	border-radius: 0.938rem;
	background: $color-navy-900;
	overflow: hidden;

	&__top {
		padding: 2rem;
		background: $color-purple-600;
		border-radius: 0 0 0.938rem 0.938rem;

		figure {
			display: flex;
			align-items: center;
			gap: 1.5rem;

			img {
				max-height: 4rem;
				max-width: 4rem;
				border-radius: 50%;
				border: 0.188rem solid white;
			}

			figcaption {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				span {
					@include apply-text-style(text-preset6);
					color: $color-navy-200;
				}

				strong {
					@include apply-text-style(text-preset4);
					color: white;
				}
			}
		}
	}

	&__bottom {
		padding: 1.5rem 0;

		ul {
			display: flex;
			justify-content: space-around;

			li {
				text-align: center;
				width: 100%;

				button {
					background: none;
					border: none;
					@include apply-text-style(text-preset5-regular);
					color: $color-purple-500;
					text-align: center;
					cursor: pointer;
				}
			}
		}
	}

	@include breakpointMobile(48rem) {
		&__bottom {
			padding: 1.5rem 8.406rem;

			ul {
				justify-content: center;
				gap: 0.5rem;
			}
		}
	}

	@include breakpointMobile(80rem) {
		max-width: 15.938rem;

		&__top {
			min-height: 22.125rem;

			figure {
				flex-direction: column;
				align-items: flex-start;
				gap: 2.5rem;

				img {
					max-width: 4.875rem;
					max-height: 4.875rem;
				}

				figcaption {
					gap: 0;

					strong {
						@include apply-text-style(text-preset2);
					}
				}
			}
		}

		&__bottom {
			padding: 0;
			display: flex;
			padding: 1.75rem 0 2rem 2rem;

			ul {
				flex-direction: column;
				gap: 1.313rem;

				li {
					text-align: start;

					button:hover {
						color: white;
					}
				}
			}
		}
	}
}
